@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto:400|Quicksand:400,700,500|Montserrat:400,700,600");
@font-face {
  font-family: "HelveticaNeue-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/HLB.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Arial.ttf") format("truetype");
}
@font-face {
  font-family: ".AppleSystemUIFont-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("static/fonts/HelveticaNeueMedium.ttf") format("truetype");
}
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-center {
  align-self: flex-center;
}

* {
  box-sizing: border-box;
}
